@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap");

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: var(--transition);
  scroll-behavior: smooth;
  font-family: "Almarai", sans-serif;
  padding: 0;
  margin: 0;
}

:root {
  --color1: #0a9181;
  --color2: #5d5c5c;
  --transition: 0.35s;
  --padding: 80px;
  --sbackground: #f6f6f6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  font-size: 50px;
  font-weight: 500;
  color: var(--color1);
  width: 90%;
  text-align: center;
  margin: 0px auto 60px;
}

@media (max-width: 768px) {
  .main-title {
    font-size: 40px;
  }
}
